DATABASE_URL="postgresql://postgres.wppkxkzjthzosrlzruta:[PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="autotech-jwt-secret-change-in-production"
JWT_EXPIRES_IN="7d"
PORT=3000
NODE_ENV=development
